{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h2 class="mb-3">Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <p class="mt-2 text-center">
  <a href="{% url 'password_reset' %}" style="color: black; text-decoration: none;">Forgot Password?</a>
</p>
<a href="{% url 'register' %}" class="btn btn-outline-primary w-100">
    Register
</a>


  </div>
</div>
{% endblock %}
